---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const skills = ["React", "Astro", "Typescript", "Contentful", "Firebase"];
const projects = [
  "Avanzar",
  "Curated Manager",
  "Kick Archive",
  "Inside Kickboxing",
];
const colors = {
  LightPeach: "#ffcc99",
  DarkPeach: "#cc9966",

  LightRedFuji: "#ff6666",
  DarkRedFuji: "#cc3333",

  LightSeaWeedGreen: "#aaffcc",
  DarkSeaWeedGreen: "#66cc99",

  LightNihonBlue: "#6699ff",
  DarkNihonBlue: "#336699",

  LightWisteria: "#a777a7",
  DarkWisteria: "#5b445b",
};
const bio =
  "I didn't start training or watching martial arts until my early twenties. I then spent a few years in Japan while majoring in Japan- and Japanese. Started watching kickboxing in 2019 and have been a huge fan since and try to keep up with the Japanese scene as much as I can. I am not a fighter, but have dabbled in training and competition.";
---

<Layout title="Patrick J. Tøreki">
  <main>
    <Card
      headerTitle="Patrick Jindakul Tøreki"
      cardTitleColor={colors.LightPeach}
      cardBodyColor={colors.DarkPeach}
    />
    <Card
      title="About"
      description={bio}
      cardTitleColor={colors.LightRedFuji}
      cardBodyColor={colors.DarkRedFuji}
    />
    <Card
      title="Skills"
      items={skills}
      cardTitleColor={colors.LightSeaWeedGreen}
      cardBodyColor={colors.DarkSeaWeedGreen}
    />
    <Card
      title="Projects"
      items={projects}
      cardTitleColor={colors.LightNihonBlue}
      cardBodyColor={colors.DarkNihonBlue}
    />
    <Card
      title="Contact"
      description="ptoreki@gmail.com"
      cardTitleColor={colors.LightWisteria}
      cardBodyColor={colors.DarkWisteria}
    />
  </main>

  <style></style>
</Layout>
